* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

body {
  background-color: black;
  color: #ffffff;
}

.section__main-screen {
  background-image: url(../images/vegas2.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  background-position: center;
}

.section__start-screen {
  background-image: url(../images/vegas.jpg);
  height: 100vh;
  width: 100%;
  position: absolute;
}

.h2 {
  margin: 20px auto 10px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: thistle;
  text-shadow:
   -1px -1px 0 #000,
   2px -1px 0 #000,
   -1px 1px 0 #000,
   2px 1px 0 #000;
}

.h1 {
  font-weight: 800;
  text-align: center;
}

.h1__home-screen {
  margin: 10px auto 20px;
  color: thistle;
  font-size: 178px;
  text-shadow:
    -1px -1px 0 #000,
    4px -1px 0 #000,
    -1px 1px 0 #000,
    4px 1px 0 #000;
  outline-style: ridge;
  padding-bottom: 15px;
} 

.h1__main-screen {
  margin: 0;
  font-size: 90px;
  color:red;
  text-shadow:
    -1px -1px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

.h4 {
  text-align: center;
  font-size: 25px;
}

.form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  width: 500px;
  margin:auto;
  margin-top: 40px;
}

.label {
  color: lightskyblue;
  padding: 0 20px;
  font-weight: 600;
  margin-bottom: 25px;
  opacity: 1;
}

.input--name, .input--wager, .input--final-wager {
  border: none;
  background-color: lightslategrey;
  width: 400px;
  height: 40px;
  font-size: 26px;
  opacity: .65;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: white;
}

.input--wager {
  display: block;
  margin: auto;
  margin-top: 75px;
  margin-bottom: 35px;
}

.header {
  position: relative;
  margin: 25px 100px;
}

.input--name::placeholder {
  color: thistle;
  opacity: .75;
}

.button__reset {
  background-color: #000;
  color: #F00;
  padding: 5px 10px;
  border-radius: 15px;
}

.button__reset:hover {
  background-color: #F00;
  color: #000;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0px 100px;
}

.main__section-single-col {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0px 100px;
}

.article {
  border: 2px solid #000000;
  text-align: center;
  font-size: 70px;
}

.form--reset {
  position: absolute;
  top: 5px;
  right: 0;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 25px 100px;
}

.section__player {
  border: 2px solid black;
  text-align: center;
  height: 80px;
  font-size: 24px;
  background-color: #111;
  opacity: .88;
}

.body--hidden {
  display: none;
}

.section__pop-up {
  background-color: #111;
  opacity: .88;
  text-align: center;
  border: 2px solid #000000;
}

.ul--answer-buttons {
  list-style-type: none;
}

.input--submit-answers:disabled,
.input--submit-answers:disabled:hover {
  background-color: grey;
}

.main--clue-squares {
  position: relative;
  grid-template-rows: repeat(4, 100px);
}

.input--answer {
  display: block;
  margin: auto;
}

.section--highlighted {
  border: 2px solid #ffffff;
}

.section__pop-up {
  height: 400px;
  width: 100%;
  position: absolute;
}

.article__header {
  display: grid;
  align-items: center;
  position: relative;
  color: black;
  background-color: blanchedalmond;
  opacity: .88;
  font-size: 30px;
  height: 111px;
}

.span__cat {
  width: 90%;
  display: block;
  margin: auto;
}

.article__clue {
  color: red;
  font-weight: 800;
  text-shadow: 1px 1px white;
  padding-top: 5px;
  background-color: #111;
  opacity: .88;
}

.article__clue:hover {
  opacity: .67;
}

.p--question {
  font-size: 24px;
}

.p--wager-prompt {
  font-size: 48px;
  margin-top: 50px;
}

.p--feedback {
  padding: 20px 0;
  font-size: 36px;
  font-weight: 600;
}

.li {
  margin-top: 15px;
}

.input--submit,
.input--submit-final,
.input--submit-all-wagers,
.button--exit {
  height: 26px;
  font-size: 16px;
  border-radius: 10px;
  padding: 0 5px;
  border: none;
  font-weight: 600;
  width: 350px;
  text-transform: uppercase;
  background-color: red;
  color: white;
}

.input--submit-answers:hover,
.input--submit-wager:hover,
.input--submit-all-wagers:hover,
.button--exit:hover {
  background-color: green;
}

.input--submit-names {
  grid-column: 2/3;
  height: 36px;
  width: 200px;
  opacity: .8;
  justify-self: center;
  border-radius: 18px;
  background-color: #FFF;
  color: thistle;
  margin-top: 10px;
}

.input--submit-names:hover {
  opacity: 1;
  color: lightskyblue;
}

.em {
  display: block;
  margin: auto;
  position: absolute;
  font-size: 20px;
}

.em-top-right {
  top: 5px;
  right: 5px;
}

.em-bottom {
  bottom: 5px;
  left: 5px;
}

.h4__player-name {
  text-transform: uppercase;
  font-size: 36px;
}

.article--final-choices {
  display: flex;
  justify-content: space-around;
}

.article__cat-final {
  font-size: 40px;
}

.p--final-wager-prompt {
  font-size: 24px;
  margin: 12px 0 20px;
}

.input--submit-all-wagers {

  display: block;
  margin: auto;
}