* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

body {
  background-color: lightgray;
  color: #ffffff;
  background-image: url(../images/vegas.jpg);
}

.h2 {
  margin: 20px auto 10px;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: thistle;
  text-shadow:
   -1px -1px 0 #000,
   2px -1px 0 #000,
   -1px 1px 0 #000,
   2px 1px 0 #000;
}

.h1 {
  margin: 10px auto 20px;
  color: thistle;
  font-size: 178px;
  font-weight: 800;
  text-align: center;
  padding-bottom: 15px;
}

.h1__home-screen {
  text-shadow:
    -1px -1px 0 #000,
    4px -1px 0 #000,
    -1px 1px 0 #000,
    4px 1px 0 #000;
  outline-style: ridge;
} 


.h1__main-screen {
  font-size: 90px;
  text-shadow:
    -1px -1px 0 lightskyblue,
    1px -1px 0 lightskyblue,
    -1px 1px 0 lightskyblue,
    1px 1px 0 lightskyblue;
}

.h4 {
  text-align: center;
  font-size: 25px;
}

.form {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  width: 500px;
  margin:auto;
  margin-top: 40px;
}

.label {
  color: lightskyblue;
  padding: 0 20px;
  font-weight: 600;
  margin-bottom: 25px;
  opacity: 1;
}

.input--name, .input--wager {
  border: none;
  background-color: lightslategrey;
  width: 400px;
  height: 40px;
  font-size: 26px;
  opacity: .65;
  border-radius: 20px;
  padding: 0 20px;
  margin-bottom: 20px;
  margin-top: 5px;
  color: white;
}

.header {
  margin: 25px 100px;
}

.input--name::placeholder {
  color: thistle;
  filter:opacity(.75);
}

.button__reset {
  float: right;
}

.main__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 25px 100px;
}

.main--clue-squares {
  grid-template-rows: repeat(4, 100px);
}

.article {
  border: 2px solid #000000;
  text-align: center;
  font-size: 70px;
}

.article__header {
  font-size: 30px;
}

.article__clue {
  padding-top: 5px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 100px 25px;
  background-color: dimgrey;
  opacity: .7;
}

.section__player {
  border: 2px solid black;
  text-align: center;
  height: 80px;
  font-size: 24px;
}

.body--hidden {
  display: none;
}

.section__pop-up {
  background-color: #041da5;
  text-align: center;
  border: 2px solid #000000;
}

.ul--answer-buttons {
  list-style-type: none;
}

.main--clue-squares {
  position: relative;
  background-color: dimgrey;
  opacity: .8;
}

.input--answer {
  display: block;
  margin: auto;
}

.section--highlighted {
  border: 2px solid #ffffff;
}

.section__start-screen, .section__pop-up {
  height: 400px;
  width: 100%;
  position: absolute;
}

.article__header {
  text-shadow: 2px 2px #000000;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
}

.article__clue {
  color: #f4a746;
  font-weight: 800;
  text-shadow: 3px 3px #000000;
  
}

.article__clue:hover {
  filter: brightness(1.4);
}

.p--question {
  font-size: 24px;
}

.p--feedback {
  padding: 20px 0 ;
  font-size: 36px;
  font-weight: 600;
}

.li {
  margin-top: 18px;
}

.input--submit,
.button--exit,
.input--submit-final {
  height: 20px;
  font-size: 16px;
  border-radius: 10px;
  padding: 0 5px;
  border: none;
  font-weight: 600;
  width: 350px;
  text-transform: uppercase;
}

.input--submit-names {
  grid-column: 2/3;
  height: 36px;
  width: 200px;
  opacity: .8;
  justify-self: center;
  border-radius: 18px;
  color: thistle;
  margin-top: 10px;
}

.input--submit-names:hover {
  opacity: 1;
  color: lightskyblue;
}

.em {
  display: block;
  margin: auto;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
}

.h4__player-name {
  text-transform: uppercase;
  font-size: 36px;
}

.article--final-choices {
  display: flex;
  justify-content: space-around;
}